.lg_container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.lg_form-section {
  flex: 0.4;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}

.lg_header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}

.lg_header .lg_dot {
  height: 13px;
  width: 13px;
  background-color: var(--black-color);
  border-radius: 50%;
  margin-right: 10px;
}

.lg_h1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 500;
  padding-left: 70px;
}

.lg_p {
  margin-bottom: 20px;
  padding-left: 70px;
  font-size: 18px;
  font-weight: 400;
}

.lg_form {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
}


.lg_form input[type="text"],
.lg_form input[type="email"],
.lg_form input[type="tel"],
.lg_form input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid var(--pink-color);
  font-size: 1.1rem;
  background-color: transparent;
}

.lg_phone-input {
  display: flex;
}

.lg_phone-input select {
  padding: 12px;
  border: 1px solid var(--white-color);
  border-radius: 4px 0 0 4px;
}

.lg_phone-input input {
  flex: 1;
  border-radius: 0 4px 4px 0;
}

.lg_button {
  padding: 12px;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: .3s;
}

.lg_button:hover {
  background-color: var(--pink-color);
  color: var(--black-color);
}

.lg_footer {
  margin-top: 10px;
}

.lg_footer a {
  color: var(--black-color);
  text-decoration: none;
}

.lg_image-section {
  flex: 0.6;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: var(--white-color);
}

.lg_quote {
  font-size: 20px;
  z-index: 100;
  line-height: 1.5;
  margin-bottom: 20px;
}

.lg_details div {
  font-size: 16px;
  margin-bottom: 5px;
}

.lg_box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#country-code {
  font-size: 1.1rem;
}

.lg_quote p {
  font-size: 3rem;
  font-weight: 500;
}

.lg_footer p {
  font-size: 1rem;
}

/* Applies to all forms */
.lg_form {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
}

.lg_form input[type="text"],
.lg_form input[type="email"],
.lg_form input[type="tel"],
.lg_form input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid var(--pink-color);
  font-size: 1.1rem;
  background-color: transparent;
}

