.product-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-container {
  margin-top: 210px;
  margin-bottom: 300px;
  justify-content: center; /* Căn giữa theo trục ngang */
  align-items: center; /* Căn giữa theo trục dọc */
  display: flex;
  gap: 50px;
}

.product-image img {
  max-width: 450px;
  height: auto;
  margin-bottom: 30px;
  margin-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-details {
  max-width: 600px;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.review-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.price {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.weight-selector {
  margin: 20px 0;
}

.weight-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.add-to-bag {
  padding: 12px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-bag:hover {
  background-color: #000;
}